@font-face {
    font-family: 'MyCustomFont'; /* Choose a custom name */

    src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    color: black;
}
body{
    font-family: 'MyCustomFont', sans-serif;
    font-size: 16px; 
}

/* header */
header{
    background-color: black;
    padding: 34px 78px ;
}
header .logo img{
    width: 79px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    width: 140px;
    text-align: center;
}
.navbar a{
    color: white;
    font-size: 22px;
    font-weight: 400;
    padding: 5px 26px;
    
}
.navbar li:last-child a{
    padding-right: 0;

}
.navbar li a{
    transition: color ease 0.5s;
}
.navbar li a:hover{
    color: #fc0648;
}